*{
    background-color: lightyellow;
}

h2{
    color: #8b0000;
}

.border{
    border-top: 2px solid black;
    padding-top: 2rem;
}

.background_heading{
    background-color: #fcfaea;

}

ul#no-bullets{
    list-style-type: none;
}

